*{
    padding: 0;
    margin: 0;
}
.main{
    width: 425px;
    height: 556px;
    margin: auto;
}
.main ul li{
    width: 122px;
    height:124px;
    display: inline-block;
    margin:3px 7px;
    border-radius: 10px;
    list-style: none;
    background: #fea600;
}
.main a{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #fea600;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    border:solid #fea600 1px;
    border-radius: 5px;
}
.main a:hover{
    background: #ee9900;
    color: #fff;
}
