
*{
    padding: 0;
    margin:0;
}
body{
    background: #f1f1f1;
}
a{
    text-decoration: none;
}
input{
    width: 300px;
    height: 30px;
    background: #fbfbfb;
}
.main{
    width: 400px;
    padding-bottom: 20px;
    margin:auto;
    background: #fff;
}
.txt{
    color: #adadad;
    font-size: 13px;
}
.logo{
    width: 400px;
    margin: auto;
}
.logo img{
    display: block;
    margin: auto;
}
form{
    padding-left: 48px;
    padding-top: 20px;
}
form p{
    font-size: 12px;
    padding-left: 12px;
}
form label{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}
form input{
    padding-left:5px;
    line-height: inherit;
    font-size:15px;
    color: #000;
    border: 1px solid #ccc;
}
form .wty{
    width: 59%;
}
form .gets{
    height: 33px;
    width: 25%;
    font-size: 13px;
    background: #fff;
    border:solid 1px #000;
}
.gets:hover{
    border:solid 1px #013893;
    color: #013893;
}
form .check{
    margin-top: 6px;
    text-align: left;
}
form .check #chk{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
form .btn{
    text-align: center;
    margin-top: 10px;
}
#tijiao,#chongzhi{
    width: 90px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    border: solid #013893 1px;
    color: #013893;
}
#tijiao:hover{
    background: #013893;
    color: #fff;
}
#chongzhi:hover{
    background: #013893;
    color: #fff;
}